<h1>Rock Paper Scissors</h1>
<form action="/winner">
  <div class="form-group">
    <label for="choice">Choose Rock, Paper, or Scissors</label>
    <input id="choice" name="choice" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Shoot</button>
</form>
